// ————————————————————————common-css-start————————————————————————
// header
.van-nav-bar {
  padding: 20px;
  &.team-nav {
    background: #fff!important;
    .van-nav-bar__left {
      .van-icon {
        color: #ccc;
      }
    }
    .van-nav-bar__title {
      color: #2e384d;
    }
  }
  .van-nav-bar__left {
    bottom: 18px;
    .van-icon {
      font-size: 48px;
      color: #a0a3aa;
    }
  }
  .van-nav-bar__title {
    font-size: 32px;
    color: #2e384d;
    font-weight: bold;
  }
}
.van-cell {
  .van-cell__title {
    //font-size: 32px!important;
    line-height: 46px;
  }
  .van-cell__value {
    .van-field__body {
      line-height: 46px;
      .van-field__control, input {
        font-size: 32px;
        line-height: 50px;
      }
    }
  }
}
// checkbox
.van-checkbox {
  line-height: 42px;
  .van-checkbox__icon {
    height: 42px;
    .van-icon {
      margin-top: 7px;
      width: 24px;
      height: 24px;
      font-size: 24px;
      border-width: 2px;
      border-radius: 0;
      &::before {
        transform: translate(-1px, 1px);
      }
    }
  }
  .van-checkbox__label {
    line-height: 42px;
  }
}
// password、number
.van-password-input {
  margin: 30px 0 0 0;
  .van-password-input__security {
    height: 80px;
    li {
      box-sizing: border-box;
      margin-left: 34px;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border: 1px solid #ccc;
      font-size: 36px;
      color: #000;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.van-number-keyboard {
  .van-number-keyboard__body {
    .van-hairline {
      height: 100px;
      line-height: 100px;
      font-size: 36px;
      font-weight: bold;
    }
  }
}
.van-password-input__cursor {
  width: 2px!important;
}
// Swiper
.van-swipe {
  height: 220px;
  overflow: hidden;
  &.index-banner{
    img {
      width: 680px;
    }
  }
  &.card-banner {
    height: 280px;
  }
  &.height-90 {
    height: 90px;
    .van-swipe__track {
      height: 90px;
    }
  }
  &.height-937 {
    height: 937px;
  }
}
// van-toast
.van-toast {
  font-size: 32px;
  line-height: 40px;
  padding: 16px 24px;
  border-radius: 10px;
}
.van-button--primary {
  background: $bg-btn-color;
  border: none;
}
.van-cell-group {
  .van-cell {
    line-height: 50px;
  }
}
// icon
.van-icon {
  &.van-icon-arrow {
    transform: translate(2px, 2px);
  }
  &.van-icon-clear {
    font-size: 32px;
  }
  &.van-icon-search {
    padding: 10px 10px 10px 0;
    font-size: 36px;
  }
}
.van-loading {
  text-align: center;
  .van-loading__spinner {
    margin: 50px 0 30px 0;
    width: 60px;
    height: 60px;
  }
}

.van-datetime-picker {
  font-size: 36px;
  .van-picker__toolbar {
    height: 44PX;
    line-height: 44PX;
    .van-picker__cancel,
    .van-picker__confirm {
      font-size: 32px;
    }
  }
  .van-picker-column {
    font-size: 32px;
    .van-picker-column__item {
      line-height: 80px!important;
    }
  }
}
.van-button {
  background: $bg-linear-gradient;
  color: #fff;
  font-size: 30px;
  border-radius: $border-radius-base;
  border: none;
  &.van-button--disabled {
    background: #bdbdbd!important;
    opacity: 1;
  }
}
//弹层popup样式
.van-overlay{
  position: absolute;
  top:2px;
  background-color: rgba(0,0,0,.5);
}
// ————————————————————————common-css-end————————————————————————


// ————————————————————————登录页面————————————————————————
.van-cell-group {
  &.login-form-item {
    &::after {
      border-top: none;
    }
    .van-cell {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// 首页nav popup
.nav-popup {
  &.van-popup {
    width: 600px;
    height: 100% !important;
    overflow: hidden;
  }
}

// ————————————————————————订单明细————————————————————————
.orderSearch{
  .van-search{
    background-color:#F7F7F7 !important;
    .van-cell{
      background-color:#F7F7F7;
    }
  }
}
// ————————————————————————实名认证————————————————————————
.person-form{
  .van-field__control:disabled{
    color:#000000;
  }
}
.van-cell-group {
  &.person-form-item {
    padding: 15px 0;
    .van-cell__title {
      width: 160px;
      span {
        font-size: 28px!important;
        color: #666666;
        line-height: 55px;
      }
    }
    .van-cell__value {
      color: #000000;
      input {
        font-size: 28px!important;
        line-height: 55px;
      }
    }
  }
}
// ————————————————————————提现————————————————————————
.van-cell-group {
  &.bank-link {
    .van-cell {
      padding: 42px 36px;
      .van-cell__title {
        font-size: 28px;
        color: #383838;
        min-width: 150px;
      }
      .van-icon {
        font-size: 40px!important;
        font-weight: 100;
        transform: translateY(16px);
      }
    }
    .cashBankCard_name{
      position: relative;
      .van-cell{
        padding: 30px 0 30px 0px;
        .van-field__body{
          .van-field__control:disabled{
            color:#232323;
          }
          .van-icon-clear{
            position: absolute;
            right:0;
            top:-14px;
            font-size: 26px;
          }
        }
        .van-cell__title{
          span{
            color:#000000;
            height: 50px;
            line-height: 50px;
          }
        }
        .van-cell__value{
          input{
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
  .cash-sms-wrap {
    margin-top: 24px;
    padding: 30px 0;
    background-color: #f7f7f7;
    .van-cell__title {
      width: 140px;
      text-align: center;
      span {
        display: inline-block;
        line-height: 51px;
        font-size: 30px;
        color: $text-color-one;
      }
    }
  }
}

// ————————————————————————收支明细————————————————————————
.optDateModalWrap{
  .van-picker__toolbar{
    height: 80px;
    line-height: 80px;
    .van-picker__cancel{
      font-size: 32px;
      color: #000000;
      padding:0 40px;
    }
    .van-picker__confirm{
      font-size: 32px;
      color: #F84F69;
      padding:0 40px;
    }
  }
  .van-picker-column{
    font-size: 36px;
  }
}
// 产品推荐
.swiper-container {
  &.card-detail-swiper {
    .swiper-slide {
      img {
        max-height: 330px!important;
      }
    }
    .swiper-slide-prev {
      transform: scale(.72);
      transform-origin: 100% 40%;
    }
    .swiper-slide-next {
      transform: scale(.72);
      transform-origin: 0 40%;
    }
  }
}
.activeWrap{
  background-color: transparent;
}

//.van-cell-group {
//  .van-cell {
//    line-height: 50px;
//  }
//  &.hot {
//    padding: 20px 0;
//    .van-cell {
//      .van-cell__title {
//        font-size: 36px;
//        color: #000;
//      }
//      .van-cell__value {
//        span {
//          font-size: 24px;
//        }
//      }
//    }
//  }
//  &.person-form-item {
//    padding: 15px 0;
//    .van-cell__title {
//      span {
//        color: #666666;
//      }
//    }
//    .van-cell__value {
//      color: #000000;
//    }
//  }
//}
//  &.account-link {
//    .van-cell {
//      padding-left: 0;
//      padding-right: 0;
//      line-height: 80px;
//      .van-cell__title {
//        font-size: 28px;
//        color: #383838;
//      }
//      .van-icon {
//        font-size: 40px!important;
//        font-weight: 100;
//        transform: translateY(30px);
//      }
//    }
//  }
//  &.bank-link {
//    .van-cell {
//      padding: 42px 36px;
//      .van-cell__title {
//        font-size: 28px;
//        color: #383838;
//      }
//      .van-icon {
//        font-size: 40px!important;
//        font-weight: 100;
//        transform: translateY(16px);
//      }
//    }
//    .cashBankCard_name{
//      position: relative;
//      .van-cell{
//        padding: 30px 0 30px 0px;
//        .van-field__body{
//          .van-field__control:disabled{
//            color:#232323;
//          }
//          .van-icon-clear{
//           position: absolute;
//            right:0;
//            top:-14px;
//            font-size: 26px;
//          }
//        }
//        .van-cell__title{
//          span{
//            color:#000000;
//            height: 50px;
//            line-height: 50px;
//          }
//        }
//        .van-cell__value{
//          input{
//           height: 50px;
//           line-height: 50px;
//          }
//        }
//      }
//    }
//  }
//  &.cash-form-item {
//    .van-field__body{
//      height:50px;
//      input{
//        height:50px;
//        line-height: 50px;
//      }
//    }
//    .van-cell {
//      padding-left: 0;
//      padding-right: 0;
//      //padding: 24px 32px;
//    }
//  }
//}
//.unbindconMess{
//  .van-cell {
//    background-color: #F7F7F7;
//    .van-cell__title{
//      max-width: 115px;
//      span{
//      display: inline-block;
//      line-height: 48px;
//      color:#666666;
//      font-size: 28px;
//    }
//    }
//    .van-field__body{
//      input {
//        line-height: 48px;
//      }
//    }
//  }
//}
//.no-border-bottom {
//  padding-bottom: 0!important;
//  &.van-hairline--top-bottom {
//    &:after {
//      border-width: 0 0!important;
//    }
//  }
//}
//// 表单
//.van-field {
//  .van-cell__title {
//    max-width: 180px;
//    span {
//      font-size: 30px;
//      color: #bdbdbd;
//    }
//  }
//  .van-cell__value {
//    .van-field__body {
//      .van-field__control {
//        font-size: 30px;
//      }
//    }
//  }
//  &.cash-sms-wrap {
//    margin-top: 24px;
//    padding: 30px 0;
//    background-color: #f7f7f7;
//    .van-cell__title {
//      max-width: 140px;
//      text-align: center;
//      span {
//        display: inline-block;
//        line-height: 51px;
//        font-size: 30px;
//        color: $text-color-one;
//      }
//    }
//    .van-cell__value {
//      .van-field__body {
//        input {
//          line-height: 51px;
//        }
//        .van-field__control {
//          font-size: 28px;
//        }
//      }
//    }
//    .van-button__text{
//      font-size: 22px;
//    }
//  }
//}
//.login-form{
//  .van-field__body {
//    input {
//      line-height: 48px;
//    }
//  }
//}
//.userMesItem{
//  .van-cell{
//    .van-cell__title span{
//      color: #666666;
//    }
//  }
//  .van-field--disabled .van-field__control{
//    color:#858585;
//  }
//}
//.bankCardMes{
//  .van-cell{
//    padding:40px 0;
//  }
//  .van-field .van-cell__title{
//    span {
//      display: inline-block;
//      line-height: 48px;
//    }
//  }
//  .van-field__body{
//    input {
//      line-height: 48px;
//    }
//  }
//}

// van-button

  //&.captcha {
  //  .van-button__text {
  //    font-size: 22px!important;
  //  }
  //}



//.account-nav {
//  &.van-hairline--bottom::after {
//    border-bottom-width: 0!important;
//  }
//}
//

//.van-swipe__indicator {
//  width: 10px;
//  height: 10px;
//  margin-right: 10px;
//}

////添加银行卡输入框
//.checkBankName{
//  .van-field__control:disabled{
//    color:#323233;
//  }
//}

//.van-popup {
//  &.van-popup--bottom {
//    max-width: 750px;
//  }
//}
